<!doctype html>
<html>

<head>
    <title>Demo Page</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>

<body>
    {{{body}}}



    <div>

        <h2>Get Request Form</h2>
        <form>
            <fieldset>
                <legend>Personal Info</legend>
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="What is your name?">
                <label for="location"></label>
                <input type="text" name="location" id="location" placeholder="Where do you live?">
                <input type="submit" id="personal">
            </fieldset>
        </form>


    </div>




</body>

</html>