<h1>{{greet}}</h1>
<h2>You started visiting this page at {{time}}</h2>


<br>


<div>

    <h2>Get Request Form</h2>
    <form action="http://flip1.engr.oregonstate.edu:3221/get-request" method="GET">
        <fieldset>
            <legend>Personal Info</legend>
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="What is your name?">
            <label for="location"></label>
            <input type="text" name="location" id="location" placeholder="Where do you live?">
            <legend>Favourite Color:</legend>
            <label for="color"> <input type="radio" name="red"> Red </label>
            <label for="color"> <input type="radio" name="blue"> Blue </label>
            <label for="color"> <input type="radio" name="green"> Green </label>
            <label for="color"> <input type="radio" name="yellow"> Yellow </label>
            <input type="submit" id="personal">
        </fieldset>
    </form>


</div>